:root {
  --background: hsl(227, 10%, 17%);
  --background-light: hsl(227, 11%, 25%);
  --background-lighter: #3F414D;
  --primary: hsl(218, 65%, 45%);
  --primary-light: hsl(218, 65%, 58%);
  --text: hsl(0, 0%, 96%);
  --radius: 6px;
  --padding: 12px;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

html {
  background-color: var(--background);
  color: var(--text);
  font-family: 'Roboto', sans-serif;
}

header,
main,
footer {
  max-width: 1000px;
  margin: var(--padding) auto var(--padding);
}

@media screen and (max-width: 1000px) {
  header,
  main,
  footer {
    margin: var(--padding);
  }
}

header > h1 {
  text-align: center;
  font-size: 50px;
}

footer > p {
  text-align: center;
  font-size: 16px;
}

body {
  text-align: center;
}

h1,
h2,
p,
div,
button {
  font-family: 'Roboto';
  color: var(--text);
}

a {
  font-family: 'Roboto';
  text-decoration: none;
  color: var(--primary-light);
}

h1 {
  font-size: 50px;
  margin: 0;
}

p {
  margin-top: 4vh;
  font-size: 18px;
  margin-left: 20vw;
  margin-right: 20vw;
}

.panels {
  margin-top: 8vh;
  display: flex;
  justify-content: center;
  gap: 10%;
}

.panel {
  display: flex;
  flex-direction: column;
  padding: calc(var(--padding)*2) var(--padding);
  border-radius: var(--radius);
  background-color: var(--background-light);
  flex-grow: 1;
  gap: 1vh;
  flex-basis: 100%;
}

.panel > h2 {
  font-size: 36px;
}

.panel > form {
  flex-grow: 1;
  gap: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  margin-left: 6%;
  margin-right: 6%;
  box-sizing: border-box;
}

label {
  display: block;
  margin-bottom: 0.3vh;
}

.inputs {
  flex-grow: 1;
}

input {
  display: block;
  width: 100%;
  margin-bottom: 2vh;
  background-color: var(--background-lighter);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
  color: var(--text);
  box-sizing: border-box;
  outline-style: none;
  border: 1px solid var(--background-lighter);
}

input:focus {
  border: 1px solid var(--primary);
}

#background-shade {
  background-color: #00000096;
  position: absolute;
  z-index: 99;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}

.dialog {
  position: absolute;
  width: 80%;
  max-width: 550px;
  z-index: 100;
  background-color: var(--background-light);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 28vh;
  border-radius: var(--radius);
  display: none;
}

.dialog-btn {
  display: inline-block;
  width: 30%;
  max-width: 120px;
}

#error-dialog {
  display: none;
}

#error-msg {
  color: red;
  width: 80%;
  margin-top: 4vh;
  margin-bottom: 6vh;
  margin-left: 10%;
  margin-right: 10%;
}

#link-box {
  display: inline-block;
  margin-top: 3vh;
  margin-bottom: 7vh;
  background-color: var(--background);
  padding: var(--padding);
  border-radius: var(--radius);
  width: 70%;
}

.dialog > h2 {
  margin-top: 4vh;
  font-size: 36px;
}

.dialog > .btn {
  margin-bottom: 4vh;
}

.btn {
  user-select: none;
  color: var(--text);
  text-decoration: none;
  padding: var(--padding);
  border: none;
  display: inline-block;
  border-radius: var(--radius);
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: var(--primary);
  text-align: center;
}

.btn:hover {
  filter: brightness(0.95);
}

.share {
  padding: 12px 0px;
  width: 40%;
  align-self: center;
}

#spectate-btn {
  display: inline-block;
  margin-top: 3vh;
}

#spectate-btn:hover {
  filter: brightness(1.1);
}

table {
  text-align: left;
  display: inline-block;
  margin-top: 4vh;
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

th {
  background-color: var(--primary);
  font-size: 15px;
  padding: 25px 1vw;
  width: 10vw;
  text-align: right;
  min-width: 160px;
}

td {
  padding-left: 2vw;
  width: 40vw;
}

tr {
  background-color: var(--background-light);
}

tr:nth-of-type(even) {
    background-color: var(--background-lighter);
}

@media screen and (max-width: 1330px) {
  .panels {
    gap: 5%;
  }
  .panel {
    width: 45%;
  }
}

@media screen and (max-width: 1270px) {
  th {
    width: 15vw;
  }

  td {
    width: 60vw;
  }

  p {
    margin-left: 12vw;
    margin-right: 12vw;
  }
}

@media screen and (max-width: 980px) {
  th {
    width: 20vw;
  }

  td {
    width: 70vw;
  }

  p {
    margin-left: 5vw;
    margin-right: 5vw;
  }
}

@media screen and (max-width: 780px) {
  th {
    width: 160px;
  }

  td {
    width: calc(100vw-160px);
  }

  p {
    margin-left: 1vw;
    margin-right: 1vw;
  }

  .panels {
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    margin-top: 4vh;
  }

  .panel {
    width: 100%;
    max-width: 500px;
  }

  header > h1 {
    font-size: 40px;
  }

  .panel > h2 {
    font-size: 30px;
  }

  .dialog > h2 {
    font-size: 34px;
  }

  #link-box {
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .dialog {
    width: 90%;
  }
}

@media screen and (max-width: 450px) {
  :root {
    --padding: 8px;
  }
  .panel > form {
    margin-left: 3%;
    margin-right: 3%;
  }
  .dialog {
    width: 95%;
  }
  #link-box {
    width: 90%;
  }
}
